/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

* {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-app-region: drag;
  background: rgba(0, 0, 0, 0);
}

#root {
  width: 100%;
  height: 100%;
}

.test {
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub {
  width: 200px;
  height: 200px;
  background: rgba(0, 255, 0, 0.25);
}